@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Poppins:wght@200;300&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&family=Yanone+Kaffeesatz:wght@300&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
*, ::before,
*::after {
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif; }

.parallax-01, .parallax-02, .parallax-03, .parallax-04 {
  margin-top: -60.8px;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(10, 8, 33, 0.6)), url("../assets/parallax-01.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center; }

.parallax-02 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(10, 8, 33, 0.6)), url("../assets/parallax-02.jpg");
  margin-top: 0px; }

.parallax-03 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(10, 8, 33, 0.6)), url("../assets/parallax-03.jpg"); }

.parallax-04 {
  align-items: center;
  margin-top: 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(10, 8, 33, 0.6)), url("../assets/parallax-04.jpg"); }

.navbar__scss {
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  position: sticky;
  top: 0; }
  .navbar__scss a {
    font-size: 1.2rem;
    color: white; }
    .navbar__scss a:hover {
      color: #3264e1; }

:root {
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%); }

.sobre__mi {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  justify-content: center;
  text-align: center; }

.name {
  display: flex;
  font-size: 2.4rem;
  margin-bottom: 0.5em;
  font-weight: 1000;
  color: white; }

.title {
  margin-bottom: 1em;
  font-size: 2.2rem;
  font-weight: 500;
  color: #3264e1; }

.item {
  display: block;
  position: relative;
  padding-left: 0.5rem;
  animation-name: flechas;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

.descripcion {
  display: flex;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  position: relative;
  text-align: center;
  animation-name: descripcion;
  opacity: 0;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

@keyframes flechas {
  0% {
    clip-path: var(--clippy); }
  100% {
    clip-path: polygon(0 0, 100% 0, 96% 100%, 0% 100%);
    background-color: rgba(0, 0, 0, 0);
    z-index: 1; } }

@keyframes descripcion {
  0% {
    color: black; }
  100% {
    color: white;
    opacity: 1; } }

.grid-container--tecnologias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2rem; }

.itemTecnologia {
  position: relative;
  width: 90%;
  height: 80%;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: 0.3s; }
  .itemTecnologia:hover {
    transform: scale(1.05); }
  .itemTecnologia img {
    height: 100%;
    width: 100%;
    border-radius: 5px; }

.tecnologias {
  margin: auto;
  text-align: center;
  color: whitesmoke; }
  .tecnologias h2 {
    font-size: 2rem;
    margin-bottom: 2em; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.8s;
  font-size: 1.2rem;
  cursor: default; }
  .overlay:hover {
    opacity: 1; }

.container-formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 25%;
  height: 450px;
  border-radius: 2rem;
  padding: 2rem;
  transition: 1s; }

.container-formulario:hover {
  transform: scale(1.05); }

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .formulario input, .formulario textarea {
    border: none;
    resize: none;
    outline: none;
    padding: 15px,0px;
    width: 80%;
    margin: 20px;
    transition: all .5s;
    border-bottom: 1px solid; }
  .formulario input:focus, .formulario textarea:focus {
    border-color: tomato; }
  .formulario button {
    border: none;
    resize: none;
    height: 60px;
    width: 200px;
    transition: 1s;
    color: #000;
    border-radius: 1rem; }
    .formulario button:hover {
      background-color: rgba(250, 115, 10, 0.8); }

@media (max-width: 768px) {
  .name {
    font-size: 1.8rem; }
  .title {
    font-size: 1.5rem; }
  .descripcion {
    font-size: 1rem; }
  .grid-container--tecnologias {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr); }
  .tecnologias h2 {
    font-size: 1.4rem; }
  .tecnologias .itemTecnologia {
    width: 75%; }
  .container__section {
    flex-direction: column;
    padding: 1rem; }
  .portfolio {
    width: 50%;
    height: 2%; }
    .portfolio h3 {
      font-size: 1.2rem; }
    .portfolio h4 {
      font-size: 1rem; }
    .portfolio p {
      font-size: 0.8rem; }
  .formulario-container {
    width: 50%;
    height: 2%;
    margin-top: 1rem; }
    .formulario-container h3 {
      font-size: 1.2rem; }
    .formulario-container button {
      height: 2.2rem; } }

@media (max-width: 375px) {
  .name {
    font-size: 1.6rem; }
  .title {
    font-size: 1.3rem; }
  .descripcion {
    font-size: 0.8rem; }
  .grid-container--tecnologias {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr); }
  .tecnologias h2 {
    font-size: 1.4rem; }
  .tecnologias .itemTecnologia {
    width: 80%;
    margin-top: 2rem; }
  .container__section {
    flex-direction: column;
    padding: 1rem; }
  .portfolio {
    width: 75%;
    height: 2%; }
    .portfolio h3 {
      font-size: 1.2rem; }
    .portfolio h4 {
      font-size: 1rem; }
    .portfolio p {
      font-size: 0.8rem; }
  .formulario-container {
    width: 75%;
    height: 2%;
    margin-top: 1rem; }
    .formulario-container h3 {
      font-size: 1.2rem; }
    .formulario-container button {
      height: 2.2rem; } }

footer {
  background-color: rgba(255, 255, 255, 0.4);
  bottom: 0;
  z-index: 1; }

.container__section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.portfolio {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  width: 25%;
  height: 450px;
  border-radius: 2rem; }
  .portfolio h3 {
    top: 0;
    justify-self: center;
    align-self: center;
    margin-top: 1em;
    color: #3264e1;
    font-size: 1.6rem; }

.item__portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .item__portfolio h4 {
    color: white; }
  .item__portfolio a {
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: center; }
    .item__portfolio a img {
      width: 80%;
      border-radius: 1rem; }
  .item__portfolio p {
    text-align: center;
    padding: 1.2rem;
    color: whitesmoke; }
