@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Poppins:wght@200;300&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&family=Yanone+Kaffeesatz:wght@300&display=swap");
*, ::before,
*::after {
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif; }

.parallax-01, .parallax-02, .parallax-03 {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/parallax-01.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center; }

.parallax-02 {
  background-image: url("../assets/parallax-02.jpg"); }

.parallax-03 {
  background-image: url("../assets/parallax-03.jpg"); }

.navbar__scss {
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.9);
  position: sticky;
  top: 0; }
  .navbar__scss a {
    font-size: 1.2rem;
    color: white; }
  .navbar__scss a:hover {
    color: #da8aff; }

:root {
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%); }

.sobre__mi {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  justify-content: center;
  margin-top: -50px; }

.name {
  display: flex;
  font-size: 2.8rem;
  margin-bottom: 0.5em;
  font-weight: 1000;
  align-items: flex-start;
  width: 34%; }

.title {
  margin-bottom: 1em;
  font-size: 2.3rem;
  font-weight: 500;
  width: 30%; }

.item {
  position: relative;
  padding-left: 0.5rem;
  animation-name: flechas;
  animation-duration: 3.1s;
  animation-fill-mode: forwards; }

.descripcion {
  display: flex;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 400;
  position: relative;
  animation-name: descripcion;
  animation-duration: 3.1s;
  animation-fill-mode: forwards; }

@keyframes flechas {
  0% {
    clip-path: var(--clippy); }
  100% {
    clip-path: polygon(0 0, 100% 0, 96% 100%, 0% 100%);
    background-color: rgba(85, 27, 200, 0.4);
    color: whitesmoke;
    z-index: 1; } }

@keyframes descripcion {
  0% {
    color: black; }
  100% {
    color: whitesmoke;
    background: rgba(21, 12, 74, 0.8);
    border-radius: 1rem;
    padding: 1rem; } }
