.portfolio{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    width: 25%;
    height: 50%;
    border-radius: 2rem;
    h3{
        top: 0;
        justify-self: center;
        align-self: center;
        margin-top: 1em;
        color: rgb(50, 100, 225);
        font-size: 1.6rem;
    }
}
.item__portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4{
        color: white;
    }
    a{
        width: 85%;
        img{
            width: 100%;
            border-radius: 1rem;
        }
    }
    p{
        text-align: center;
        padding: 1.2rem;
        color: whitesmoke;
    }
}
.formulario-container{
    background-color: #fff;
    width: 25%;
    height: 50%;  
    border-radius: 2rem; 
    padding: 2rem;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    input,textarea{
        border: none;
        resize: none;
        outline: none;
        padding: 15px,0px;
        width: 80%;
        margin: 20px;
        transition: all .5s;
        border-bottom: 1px solid;
    }input:focus,textarea:focus{
        border-color: tomato;
    }
    button{
        border: none;
        resize: none;
        height:60px;
        width: 200px;
        transition: 1s;
        color: #000;
        border-radius: 1rem;
        &:hover{
            background-color: rgba(250, 115, 10, 0.8)
        }

    }
}