.container-formulario{
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: #fff;
    width: 25%;
    height: 450px;  
    border-radius: 2rem; 
    padding: 2rem;
    transition: 1s;
}
.container-formulario:hover{
    transform: scale(1.05);
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    input,textarea{
        border: none;
        resize: none;
        outline: none;
        padding: 15px,0px;
        width: 80%;
        margin: 20px;
        transition: all .5s;
        border-bottom: 1px solid;
    }input:focus,textarea:focus{
        border-color: tomato;
    }
    button{
        border: none;
        resize: none;
        height:60px;
        width: 200px;
        transition: 1s;
        color: #000;
        border-radius: 1rem;
        &:hover{
            background-color: rgba(250, 115, 10, 0.8)
        }
    }
}