.parallax-01{
    width: 100%;
    height: 100vh;
    background-image:url('../assets/parallax-01.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}
.parallax-02{
    @extend .parallax-01;
    background-image:url('../assets/parallax-02.jpg');
}
.parallax-03{
    @extend .parallax-01;
    background-image: url('../assets/parallax-03.jpg');
}