:root{
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);;
};
.sobre__mi{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    justify-content: center;
    text-align: center;
}
.name{
    display: flex;
    font-size: 2.8rem;
    margin-bottom: 0.5em;
    font-weight: 1000;
    align-items: flex-start;
    color: white;
}
.title{
    margin-bottom: 1em;
    font-size: 2.3rem;
    font-weight: 500;
    color: rgb(50, 100, 225);
}
.item{
    display: block;
    position: relative;
    padding-left: 0.5rem;
    animation-name: flechas;
    animation-duration: 1s;
    animation-fill-mode: forwards;    
}
.descripcion{
    display: flex;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;   
    position: relative; 
    text-align: center;
    animation-name: descripcion;
    opacity: 0;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes flechas{
    0%{
    clip-path: var(--clippy);
    }
    100%{
        clip-path:polygon(0 0, 100% 0, 96% 100%, 0% 100%);
        background-color: rgba(0, 0, 0, 0.0);    
        z-index: 1;        
    }
}
@keyframes descripcion{
    0%{
        color: black;
    }
    100%{
        color: white;
        opacity: 1;
    }
}